body {
    background: linear-gradient(gray, rgb(236, 228, 9), rgb(238, 12, 12));
    font-family: sans-serif;
}
.container {
    width: 1300px;
    margin: 0 auto;
}
.title {
    background-color: rgba(240, 255, 255, 0.83);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 60px;
}
.game {
    width: 1000px;
    background-color: rgb(124, 120, 120);
    padding: 30px;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}
.game:hover {
    width: 1020px;
    background-color: rgb(130, 125, 125);
}
.img {
    border-radius: 20px;
    margin-right: 30px;
    float: left;
    width: 300px;
    height: auto;
}
.text {
    overflow: hidden;
}
.film-title {
    font-size: 40px;
    font-weight: 700;
}
p {
    font-size: 24px;
    color: #232323;
}
.bold {
    color: #000000;
    font-size: 26px;
    font-weight: 700;
}
.card {
    margin-top: 150px;
    margin-bottom: 150px;
}
.list{
    list-style: none;
    width: 1000px;
    margin: 200 auto;
    background-color: aliceblue;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.2);
    text-align: center;
}
.item-title{
    font-size: 40px;
    font-weight: 700;
    color: #232323;
}
.item-link{
    color: blue white;
    text-decoration: none;
    font-weight: 900;
    font-size: 28px;
}
.item-link:hover{
    color: red black;
}